<div class="card card-body mb-2">
  <h5 class="card-title mb-3">スペース</h5>
  <div class="card-text mb-3">
    <a href="<%= spaces_path %>" class="btn btn-primary text-nowrap">
      <i class="fas fa-folder-open fa-lg"></i>
      <span class="ms-1">スペースを探す</span>
    </a>
    <a href="<%= create_space_path %>" class="btn btn-dark text-nowrap ms-2">
      <i class="fas fa-folder-plus fa-lg"></i>
      <span class="ms-1">作成する</span>
    </a>
  </div>
</div>
