<div class="card card-body">
  <h5 class="card-title mb-3">大切なお知らせ</h5>
  <div class="card-text">
<% @infomations.each do |infomation| %>
    <article class="mb-1">
      <%= render '/infomations/label', infomation: infomation %>
      <span>
<% if infomation.body.present? || infomation.summary.present? %>
        <%= link_to infomation.title, infomation_path(infomation) %>
<% else %>
        <%= infomation.title %>
<% end %>
      </span>
      <span>
        (<%= l(infomation.started_at.to_date) %>)
      </span>
    </article>
<% end %>
  </div>
</div>
