<article class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to '参加スペース', spaces_path, class: 'text-dark' %></h5>
    <ul class="list-group">
<% @join_spaces.each do |join_space| %>
      <li class="list-group-item">
        <%= link_to join_space.name, "//#{join_space.subdomain}.#{Settings['base_domain']}" %>
      </li>
<% end %>
    </ul>
<% if @join_spaces.total_pages > 1 %>
    <nav>
      <%= link_to 'もっと見る', spaces_path, class: 'btn btn-info btn-rounded btn-sm m-2' %>
    </nav>
<% end %>
  </div>
</article>
