<% domain = "//#{Settings['base_domain']}" %>
<article class="card mb-1">
  <div class="card-body">
    <h5 class="card-title">管理メニュー</h5>
    <p class="card-text mb-2"><%= link_to "#{@request_space.customer.name} (#{@request_space.customer.code})", "#{domain}#{customer_path(@request_space.customer.code)}" %></p>
    <p class="card-text">
      <%= link_to 'メンバー招待', "#{domain}#{new_member_path(customer_code: @request_space.customer.code)}", class: 'btn btn-primary btn-rounded mb-1' %>
      <%= link_to 'メンバー一覧', "#{domain}#{members_path(@request_space.customer.code)}", class: 'btn btn-info btn-rounded mb-1' %>
      <%= link_to 'スペース情報変更', edit_space_path, class: 'btn btn-warning btn-rounded mb-1' %>
    </p>
  </div>
</article>
