<article class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to '公開スペース', public_spaces_path, class: 'text-dark' %></h5>
    <ul class="list-group">
<% @public_spaces.each do |new_public_space| %>
      <li class="list-group-item">
        <%= link_to new_public_space.name, "//#{new_public_space.subdomain}.#{Settings['base_domain']}" %>
      </li>
<% end %>
    </ul>
<% if @public_spaces.total_pages > 1 %>
    <nav>
      <%= link_to 'もっと見る', public_spaces_path, class: 'btn btn-info btn-rounded btn-sm m-2' %>
    </nav>
<% end %>
  </div>
</article>
