<article class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to 'アカウント登録', new_user_registration_path, class: 'text-dark' %></h5>
    <p class="card-text"><%= link_to '無料で始める', new_user_registration_path, class: 'btn btn-primary' %></p>
    <nav class="card-footer">
      <ul class="mt-2 mb-0">
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
    </nav>
  </div>
</article>
