<div class="row mx-1">
<% unless user_signed_in? %>
  <div class="col-md-6 px-0">
    <%= render 'sign_up' %>
  </div>
<% end %>
  <div class="col-md-6 px-0">
    <%= render 'infomations' if @infomations.present? %>
  </div>
</div>
