<%= render 'new_infomations' %>

<h3>新しいスペース</h3>
<% if @new_spaces.blank? %>
<p>Not found</p>
<% else %>
<ul>
<% @new_spaces.each do |new_space| %>
  <li><%= link_to new_space.name, "//#{new_space.subdomain}.#{Settings['base_domain']}" %></li>
<% end %>
</ul>
<p><%= link_to 'もっと見る', spaces_path %></p>
<% end %>
<p><%= link_to 'スペース作成', new_space_path %></p>
