<div class="row">
<% unless user_signed_in? %>
  <div class="col-12 col-md-12 px-2 pb-2">
    <div class="card card-body">
      <h5 class="card-title mb-3">
        Ruby on Railsのベースアプリケーションです。（サービス概要に差し替え）
      </h5>
      <div class="card-text">
        サービスを迅速に立ち上げられるように、よく使う機能を予め開発しています。（サービス説明に差し替え）<br>
        リポジトリ: <a href="https://dev.azure.com/nightonly/_git/rails-app-origin" target="_blank" rel="noopener noreferrer">https://dev.azure.com/nightonly/_git/rails-app-origin</a>
      </div>
    </div>
  </div>
<% end %>
<% unless user_signed_in? %>
  <div class="col-12 col-md-6 px-2 pb-2">
    <%= render 'sign_up' %>
  </div>
<% end %>
  <div class="col-12 col-md-6 px-2 pb-2">
    <%= render 'infomations' if @infomations.present? %>
  </div>
</div>
