.bundle
.byebug_history
.yardoc
.yarn-integrity
config/master.key
db/*.sqlite3
db/*.sqlite3-journal
db/*.sqlite3-*
db/erd.pdf
doc
log
node_modules
public/assets
public/packs
public/packs-test
public/robots.txt
public/uploads
storage
tmp
yarn-error.log
yarn-debug.log*
設計
