<p><%= @email %> 様</p>

<p>メールアドレスの変更が完了しました。</p>
<% if @resource.try(:unconfirmed_email?) %>
<p>変更前のメールアドレス: <%= @resource.email %></p>
<p>変更後のメールアドレス: <%= @resource.unconfirmed_email %></p>
<% else %>
<p>メールアドレス: <%= @resource.email %></p>
<% end %>
