<% if resource.errors.any? || ((defined? resource2) && resource2.errors.any?) %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t('errors.messages.not_saved',
                 count: resource.errors.count + ((defined? resource2) ? resource2.errors.count : 0),
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% full_messages = resource.errors.full_messages %>
      <% full_messages = full_messages + resource2.errors.full_messages if (defined? resource2) %>
      <% full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
