<% unless admin_user_signed_in? %>
<nav class="mt-2 mb-0">
<% if action != 'sign_in' %>
  <%= link_to t('ログイン'), new_admin_user_session_path %><br>
<% end %>
<% if devise_mapping.recoverable? && action != 'password' %>
  <%= link_to t('パスワード再設定'), new_admin_user_password_path %><br>
<% end %>
<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && action != 'unlocks' %>
  <%= link_to t('アカウントロック解除'), new_admin_user_unlock_path %><br>
<% end %>
</nav>
<% end %>
