<nav>
  <ul>
<% if controller_name != 'sessions' %>
    <li><%= link_to 'ログイン', new_session_path(resource_name) %></li>
<% end %>
<% if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <li><%= link_to 'パスワード再設定', new_password_path(resource_name) %></li>
<% end %>
<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to 'アカウントロック解除', new_unlock_path(resource_name) %></li>
<% end %>
<% if devise_mapping.omniauthable? %>
<% resource_class.omniauth_providers.each do |provider| %>
    <li><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></li>
<% end %>
<% end %>
  </ul>
</nav>
