<% content_for(:html_title) { 'スペース作成' } %>

<%= render './users/shared/error_messages', resource: @space %>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to 'スペース一覧', spaces_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a data-mdb-toggle="tab" class="nav-link active">スペース作成</a>
  </li>
</ul>

<div class="card card-body mb-2" style="max-width: 850px">
  <div class="card-text mb-3"><%= render 'new' %></div>
</div>
