/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* NOTE: MDB5 3.1.0 バグ対応 */
.form-check .form-check-input {
    margin-left: -1.5em !important;
}

.accordion-button {
    border-width: 0;
}
.accordion-button:not(.collapsed) {
    /* color: #105cd9; */
    color: #4f4f4f;
    /* background-color: #e7f0fe; */
    background-color: transparent;
}
.accordion-button:focus {
    /* border-color: #1266f1; */
    border-color: transparent;
}

.btn {
    text-transform: none !important; /* NOTE: 大文字表示になる為 */
    font-weight: 400;
}
