<% content_for(:html_title) { 'エラー' } %>

<div class="card card-body mb-2">
  <h5 class="card-title mb-4"><%= alert %></h5>
  <div class="card-text d-flex">
    <%= link_to 'トップページ', root_path %>
  </div>
</div>
