<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>

<%= yield %>

    <br>
    <hr/>
    このメールアドレスは送信専用です。<br>
    <br>
    <%= link_to t('app_name'), root_url %><br>
    <%= link_to t('my_name'), t('my_url') %><br>
  </body>
</html>
