<% content_for(:html_title) { 'メンバー情報変更' } %>

<%= render './users/shared/error_messages', resource: @member %>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to 'メンバー一覧', members_path(@space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a data-mdb-toggle="tab" class="nav-link active">メンバー情報変更</a>
  </li>
</ul>

<div class="card card-body mb-2" style="max-width: 720px">
  <h5 class="card-title mb-3">
    <%= render './spaces/title', space: @space, current_member: @current_member, suffix_title: nil %>
  </h5>
  <div class="card-text mb-3"><%= render 'edit' %></div>
</div>
