<%= render 'users/shared/error_messages', resource: @user, resource2: @member %>

<main class="card" style="max-width: 640px; margin-left: auto; margin-right: auto">
  <div class="card-body">
    <h5 class="card-title"><%= @customer.name %>のメンバー招待（β版）</h5>
    <p class="card-text"><%= render 'new_member' %></p>
    <p class="card-footer"><%= render 'links' %></p>
  </div>
</main>
