<h2>アカウント削除</h2>

<p><%= button_to "削除確認", registration_path(resource_name), data: { confirm: "アカウント削除：本当に削除しますか？（ログイン出来なくなります）" }, method: :delete %></p>

<ul>
  <li><%= link_to "登録情報変更", edit_user_registration_path %></li>
</ul>
