<% content_for(:html_title) { 'アカウント削除取り消し' } %>

<div class="card card-body mb-2" style="max-width: 640px">
  <h5 class="card-title mb-3">アカウント削除取り消し</h5>
  <div class="card-text mb-3">
    <p>
      このアカウントは<%= l(current_user.destroy_schedule_at.to_date) %>以降に削除されます。それまでは取り消し可能です。<br>
<% if current_user.destroy_requested_at.present? %>
      （<%= l(current_user.destroy_requested_at) %>にアカウント削除依頼を受け付けています）<br>
<% end %>
    </p>
    <%= button_to '取り消し', undo_destroy_user_registration_path, data: { confirm: '本当に取り消しますか？' }, method: :post, class: 'btn btn-primary' %>
  </div>
</div>
