<h2>アカウント削除取り消し</h2>

このアカウントは<%= l(current_user.destroy_schedule_at.to_date) %>以降に削除されます。それまでは取り消し可能です。<br/>
<% if current_user.destroy_requested_at.present? %>
  ※<%= l(current_user.destroy_requested_at) %>にアカウント削除依頼を受け付けています。<br/>
<% end %>

<p><%= button_to '取り消し確認', users_undo_delete_path, data: { confirm: '本当に取り消しますか？' }, method: :delete %></p>
